body
{
  background: white;
  color: black;
  font-family: Arial, sans-serif;
}

h1 
{
  font: bold 2.5em;
  color: #cccccc;
  letter-spacing: 4px;
}

a
{
  color: grey;
}

a:hover
{
  color: red;
}



