{% extends "base.html" %}
{% block title %}
    <h1>Kunde(r)</h1>
{% endblock %}
{% block content %}
    <table class="table">
      <tr>
        <th>Kundenummer</th>
        <th>Fornavn</th>
        <th>Etternavn</th>
        <th>Dato opprettet</th>
      </tr>
      {% for customer in customers %}
      <tr>
        <td>
          <a href="/customer/{{ customer["id"] }}">
            {{ customer["id"] }}
          </a>
        </td>
        <td>
          <a href="/customer/{{ customer["id"] }}">
            {{ customer["first_name"] | sn }}
          </a>
        </td>
        <td>
          <a href="/customer/{{ customer["id"] }}">
            {{ customer["last_name"] | sn }}
          </a>
        </td>
        <td>{{ customer["creation_date"] }}</td>
      </tr>
      {% endfor %}
    </table>
{% endblock %}
