{% extends "base.html" %}
{% block title %}
      <h1>Kunde</h1>
      {% if updated %}
      oppdatert
      {% endif %}
{% endblock %}
{% block content %}
      <form action="/customer/{{ customer['id'] }}"
            method="post"
            class="form-horizontal">

        <div class="form-group">
          <label class="control-label col-xs-2" for="id">Kundenummer</label>
          <div class="col-xs-10">
            <input class="form-control"
                   id="id"
                   name="id"
                   value="{{ customer['id'] }}"
                   placeholder="kundenummer"
                   readonly/>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-xs-2" for="first_name">Fornavn</label>
          <div class="col-xs-10">
            <input class="form-control"
                   id="first_name"
                   name="first_name"
                   value="{{ customer['first_name'] | sn }}"
                   placeholder="Fornavn"/>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-xs-2" for="last_name">Etternavn</label>
          <div class="col-xs-10">
            <input class="form-control"
                   id="last_name"
                   name="last_name"
                   value="{{ customer['last_name'] | sn }}"
                   placeholder="Etternavn"/>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-xs-2"
                 for="creation_date">
            Registrert dato
          </label>
          <div class="col-xs-10">
            {{ customer["creation_date"] | sn }}
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-xs-2" for="email_address">Epost</label>
          <div class="col-xs-10">
            <input class="form-control"
                   id="email_address"
                   name="email_address"
                   type="email"
                   value="{{ customer['email_address'] | sn }}"
                   placeholder="Epost adresse"/>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-xs-2" for="address">Adresse</label>
          <div class="col-xs-10">
            <input class="form-control"
                   id="address"
                   name="address"
                   value="{{ customer['address'] | sn }}"
                   placeholder="Addresse"/>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-xs-2" for="post_code">
            Postnummer
          </label>
          <div class="col-xs-10">
            <select id="post_code" name="post_code" class="form-control">
              {% for pp in post_place_list %}
                {% if customer["post_code"] == pp["post_code"] %}
              <option value="{{ pp['post_code'] }}" selected>
                {% else %}
              <option value="{{ pp['post_code'] }}">
                {% endif %}
                {{ pp["post_code"]  }}
                {{ pp["post_place"] | sn }}
              </option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-xs-2"
                 for="home_phone">
            Telefon hjem
          </label>
          <div class="col-xs-10">
            <input class="form-control"
                   id="home_phone"
                   name="home_phone"
                   type="number"
                   value="{{ customer['home_phone'] | sn }}"
                   placeholder="Telefon hjem"/>

          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-xs-2" for="mobile_phone">
            Telefon mobil
          </label>
          <div class="col-xs-10">
            <input class="form-control"
                   id="mobile_phone"
                   name="mobile_phone"
                   value="{{ customer['mobile_phone'] | sn }}"
                   placeholder="Mobil telefon"
                   type="number"
                   />
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-xs-2" for="work_phone">
            Telefon arbeid
          </label>
          <div class="col-xs-10">
            <input class="form-control"
                   id="work_phone" name="work_phone"
                   value="{{ customer['work_phone'] | sn }}"
                   type="number"
                   placeholder="Telefon jobb"/>

          </div>
        </div>
        <!-- TODO get HTML5 features (dates) working for a Norwegian
             locale. Is this inherited from html lang or is this taken
             directed by the browser's UI language?-->
        <div class="form-group">
          <label class="control-label col-xs-2" for="birth_date">
            Fødselsdato
          </label>
          <div class="col-xs-10">
            <input class="form-control"
                   id="birth_date"
                   name="birth_date"
                   value="{{ customer['birth_date'] | iso_date }}"
                   type="date"
                   placeholder="Fødselsdato"/>

          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-offset-2 col-xs-10">
            <button type="submit" class="btn btn-primary">
              {% if customer["id"] %}
                Oppdater kunde
              {% else %}
                Opprett ny kunde
              {% endif %}
            </button>
          </div>
        </div>
      </form>
      {% if customer["id"] %}
        <div class="row">
          <div class="col-xs-offset-2 col-xs-5">
            <button class="btn btn-danger"
                    onclick="window.location.href = '/customer/{{ customer['id'] }}/delete'">
              Slett kunde
            </button>
          </div>
        </div>
        <hr/>
        <h2>
          Ordrer
        </h2>
        <hr/>
        <div style="margin-bottom: 1em">
          <form action="/order"
                method="post">
            <input id="customer_id"
                   name="customer_id"
                   type="hidden" value="{{ customer['id'] }}"
                   />
            <button type="submit" class="btn btn-primary">
              Opprett ny ordre
            </button>
          </form>
        </div>
      {% endif %}
      {% if order_list | length > 0 %}
        <table class="table table-hover">
          <tr>
            <th>
              Ordrenummer
            </th>
            <th>
              Opprettet
            </th>
            <th>
              Kommentar
            </th>
          </tr>
          {% for order in order_list %}
          <tr>
            <td>
              <a href="/order/{{ order['id'] }}">
                {{ order["id"] }}
              </a>
            </td>
            <td>{{ order["creation_date"] }}</td>
            <td>{{ order["comment"] | sn }}</td>
          </tr>
          {% endfor %}
        </table>
      {% endif %}
{% endblock %}








