{% extends "base.html" %}
{% block title %}
      <h1>
        Slette faktura nummer {{ invoice["id"] }} ?
      </h1>
      <ul>
        <li>
          Opprettet: {{ invoice["creation_date"] | sn }}
        </li>
        <li>
          <a href="/order/{{ invoice["order_id"] }}">
            Ordrenummer: {{ invoice["order_id"] | sn }}
          </a>
        </li>
      </ul>
{% endblock %}
{% block content %}
      <div class="row">
        <div class="col-xs-3">
          <form action="/invoice/{{ invoice['id'] }}/delete" method="post">
            <button type="submit" class="btn btn-danger">
              Ja, slett faktura numer {{ invoice["id"] }}
            </button>
          </form>
        </div>
        <div class="col-xs-3">
          <form action="/invoice/{{ invoice['id'] }}" method="get">
            <button type="submit" class="btn btn-success">
              Nei, gå tilbake til faktura {{ invoice["id"] }}
            </button>
          </form>
        </div>
      </div>
{% endblock %}
