        <div class="form-group">
          <label class="control-label" for="paid">
            Betalt
          </label>
          <div class="">
            <input
              class="form-control"
              id="paid"
              name="paid"
              value="1"
              type="radio"
              {% if request.args.get("paid") == "1" %}checked="checked"{% endif %}
            >
            Ja
            </input>
            <input
              class="form-control"
              id="paid"
              name="paid"
              value="0"
              type="radio"
              {% if request.args.get("paid") == "0" %}checked="checked"{% endif %}
            >
            Nei
            </input>
            <input
              class="form-control"
              id="paid"
              name="paid"
              value="2"
              type="radio"
              {% if request.args.get("paid") == "2" %}checked="checked"{% endif %}
            >
            Både ja og nei
            </input>
          </div>
        </div>
