    <div class="container navbar-inverse">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          Atelier
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul id="menu" class="nav navbar-nav">
          <li><a href="/search">Søk</a></li>
          <li><a href="/create-order">Ny ordre</a></li>
          <li><a href="/product-list">Se alle produkter</a></li>
          <li><a href="/about">Om</a></li>
        </ul>
      </div>
    </div>
