    <div class="navbar-inverse navbar-fixed-top">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          ⌂ Atelier
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul id="menu" class="nav navbar-nav">
          <li><a href="/search">⌕ Søk</a></li>
          <li><a href="/customer">Ny kunde</a></li>
          <li><a href="/product-list">Produkter</a></li>
          <li><a href="/reports/order-overview">Ordreoversikt</a></li>
          <li>
            <a href="/reports/sessions-without-further-orders">
              Fotograferinger uten forstørrelser
            </a>
          </li>
          <li>
            <a href="/reports/promise-list">
              Leveranser
            </a>
          </li>
        </ul>
      </div>
    </div>

