{% extends "base.html" %}
{% block title %}
      <h1>Produkt</h1>
{% endblock %}
{% block content %}
      <form action="/product/{{ product['id'] }}"
            method="post"
            class="form-horizontal">

        <div class="form-group">
          <label class="control-label col-xs-2" for="id">Produktnummer</label>
          <div class="col-xs-10">
            <input class="form-control"
                   id="id"
                   name="id"
                   placeholder="produktnummer"
                   value="{{ product['id'] }}"
                   readonly/>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-xs-2"
                 for="creation_date">
            Registrert
          </label>
          <div class="col-xs-10">
            <input class="form-control"
                   id="id"
                   name="id"
                   placeholder="produktnummer"
                   value="{{ product["creation_date"] | sn }}"
                   readonly/>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-xs-2" for="name">Navn</label>
          <div class="col-xs-10">
            <input class="form-control"
                   id="name"
                   name="name"
                   value="{{ product['name'] | sn }}"
                   placeholder="name"/>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-xs-2" for="price">Pris</label>
          <div class="col-xs-10">
            <input class="form-control"
                   id="price"
                   name="price"
                   value="{{ product['price'] | sn }}"
                   type="number"
                   placeholder="pris"/>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-xs-2" for="production_time">
            Produksjonstid
          </label>
          <div class="col-xs-10">
            <input class="form-control"
                   id="production_time"
                   name="production_time"
                   value="{{ product['production_time'] | sn }}"
                   type="number"
                   min="0"
                   placeholder="Hvor lang tid det tar å levere dette"
                   title="Hvor lang tid det tar å levere dette"/>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-xs-2" for="product_type_id">
            Produkttype
          </label>
          <div class="col-xs-10">
            <select class="form-control">
              {% for pt in product_type_list %}
                {% if product["product_type_id"] == pt["id"] %}
              <option value="{{ pt['id'] }}" selected>
                {% else %}
              <option value="{{ pt['id'] }}">
                {% endif %}
                {{ pt["name"] | sn }}
              </option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-offset-2 col-xs-10">
            <button type="submit" class="btn btn-primary">
              {% if product["id"] %}
                Oppdater produkt
              {% else %}
                Opprett ny produkt
              {% endif %}
            </button>
          </div>
        </div>
      </form>
      {% if product["id"] %}
      <form action="/product/{{ product['id'] }}/delete"
            method="post"
            class="form-horizontal">
        <div class="form-group">
          <div class="col-xs-offset-2 col-xs-10">
            <button type="submit" class="btn btn-danger">
              Slett produkt
            </button>
          </div>
        </div>
      </form>
      {% endif %}
{% endblock %}
