{% extends "base.html" %}
{% block title %}
    <h1>Søk</h1>
{% endblock %}
{% block content %}
    <form action="/search/query"
          method="get"
          class="form-horizontal"
          >
      <div class="form-group">
        <label for="order_id" class="control-label col-xs-2">Kundenummer</label>
        <div class="col-xs-10">
          <input class="form-control"
                 id="customer_id"
                 name="customer_id"
                 placeholder="Kundenummer"/>
        </div>
      </div>
      <div class="form-group">
        <label for="old_order_id"
               class="control-label col-xs-2">Gammelt nummer</label>
        <div class="col-xs-10">
          <input class="form-control"
                 id="old_customer_id"
                 name="old_customer_id"
                 placeholder="Gammelt kundenummer, før 2008"/>
        </div>
      </div>
      <div class="form-group">
        <label for="name" class="control-label col-xs-2">Navn</label>
        <div class="col-xs-10">
          <input class="form-control"
                 id="name"
                 name="name"
                 placeholder="For-, mellom- og/eller etternavn"/>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
          <button type="submit" class="btn btn-default">Søk</button>
        </div>
      </div>
    </form>
{% endblock %}
